<a href="https://colab.research.google.com/github/2303A51453/git/blob/master/lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# creating a series from a list
data=[10,20,30,40,50]
series=pd.Series(data)
print("Panda Series:")
print(series)

Panda Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
# series with custom index
import pandas as  pd
data=[10,20,30,40,50]
index_lables=['a','b','c','d','e']
series=pd.Series(data,index=index_lables)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
import pandas as pd

# creating a dataframe from a dictionary
data = {
    'Name': ['alice', 'bob', 'charlie', 'david'],
    'Age': [24, 30, 22, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
# creating a DataFrame
df = pd.DataFrame(data)

print("Pandas DataFrame:")
print(df)

Pandas DataFrame:
      Name  Age         City
0    alice   24     New York
1      bob   30  Los Angeles
2  charlie   22      Chicago
3    david   28      Houston

In [7]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'City': ['New York', 'Paris', 'London', 'Berlin']
}
df = pd.DataFrame(data)

# Access single column (works)
print(df['Name'])

# Access multiple columns (case-sensitive -> use 'Name' and 'City')
print(df[['Name', 'City']])

# Access rows using index
print(df.loc[1])  # Row with index 1 (Bob)
print(df.loc[2])  # Row with index 2 (Charlie)

# Adding a new column
df['Salary'] = [40000, 5000, 8000, 30000]
print(df)

# Removing a column
df = df.drop('City', axis=1)
print(df)

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name      City
0    Alice  New York
1      Bob     Paris
2  Charlie    London
3    David    Berlin
Name      Bob
City    Paris
Name: 1, dtype: object
Name    Charlie
City     London
Name: 2, dtype: object
      Name      City  Salary
0    Alice  New York   40000
1      Bob     Paris    5000
2  Charlie    London    8000
3    David    Berlin   30000
      Name  Salary
0    Alice   40000
1      Bob    5000
2  Charlie    8000
3    David   30000

In [9]:
import pandas as pd

# Example DataFrame
data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [25, 32, 45, 29]
}
df = pd.DataFrame(data)

# Filtering data: select rows where age > 30
filtered_df = df[df["age"] > 30]
print("Rows where age > 30:")
print(filtered_df)

# Basic statistics on the 'age' column
print("\nStatistics on age column:")
print("Mean age:", df["age"].mean())
print("Max age:", df["age"].max())
print("Min age:", df["age"].min())

Rows where age > 30:
      name  age
1      Bob   32
2  Charlie   45

Statistics on age column:
Mean age: 32.75
Max age: 45
Min age: 25

In [10]:
import pandas as pd

# creating dataframe with student details
student_data = {
    'student_id': [101, 102, 103, 104],
    'name': ['ravi', 'neha', 'kiran', 'sneha'],
    'marks': [78, 89, 90, 99],
    'department': ['cse', 'ece', 'mech', 'civil']
}

# create DataFrame
df = pd.DataFrame(student_data)

# display full data frame
print("Student Data")
print(df)

Student Data
   student_id   name  marks department
0         101   ravi     78        cse
1         102   neha     89        ece
2         103  kiran     90       mech
3         104  sneha     99      civil

In [11]:
import pandas as pd

# create student data
student_data = {
    's1_name': ['Ravi', 'Neha', 'Kiran', 'Sneha', 'Arjun'],
    's1_roll_no': [101, 102, 103, 104, 105],
    'm1': [78, 56, 90, 45, 88],
    'm2': [88, 76, 85, 67, 92],
    'm3': [92, 66, 70, 80, 75]
}

# create DataFrame
df = pd.DataFrame(student_data)

# calculate total, average, and result
df['total'] = df[['m1', 'm2', 'm3']].sum(axis=1)
df['average'] = df[['m1', 'm2', 'm3']].mean(axis=1)

# result condition: Pass if all marks >= 40, else Fail
df['result'] = df.apply(lambda row: 'Pass' if (row['m1'] >= 40 and row['m2'] >= 40 and row['m3'] >= 40) else 'Fail', axis=1)

# display dataframe
print("Student Data")
print(df)

Student Data
  s1_name  s1_roll_no  m1  m2  m3  total    average result
0    Ravi         101  78  88  92    258  86.000000   Pass
1    Neha         102  56  76  66    198  66.000000   Pass
2   Kiran         103  90  85  70    245  81.666667   Pass
3   Sneha         104  45  67  80    192  64.000000   Pass
4   Arjun         105  88  92  75    255  85.000000   Pass